@import url('https://fonts.googleapis.com/css2?family=Suwannaphum:wght@300;400;700;900&display=swap');
:root{
    --mg-color-text: #5d5d5d;
    --mg-color-accent: #333;
    --mg-text: 'Suwannaphum', serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 12px;
    background-color: rgb(244, 235, 236);
    font-family: var(--mg-text);
}
img {
    max-width: 100%;
}

.header div img {
    margin-top: 8px;
    height: 60px;
}
.header {
    padding: 5px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px -4px 10px var(--mg-color-text);
}
.lista-1 {
    display: flex;
    list-style: none;
    gap: 10px;
}
.lista-1 li a{
    text-decoration: none;
    transition: all .3s linear;
    font-size: 16px;
    color: var(--mg-color-text);
    font-weight: bold;
}
.lista-1 li a:hover{
    color: var(--mg-color-accent);
    text-decoration: underline;
}
.logo-2 {
    width: 100%;
    height: 550px;
    background-image: url(assets/img/boutique.jpg);
    background-size: auto;
    background-position: center top ;
    background-repeat:no-repeat ;
}
.logo-2 img{
    height: 100%;
    width: 100%;
}
.nav-2 {
    padding: 20px 0px;
    box-shadow: 0px -4px 10px var(--mg-color-text);
}
.lista-2 {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
   
}
.lista-2 li a{
    text-decoration: none;
    transition: all .3s linear;
    font-size: 16px;
    color: var(--mg-color-text);
    font-weight: bold;
}
.lista-2 li a:hover{
    color: var(--mg-color-accent);
    text-decoration: underline;
}
.container-productos {
    display: flex;
    justify-content: center;
}
.container-cards {
    max-width: 1024px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 20px;
    font-family: var(--mg-text);
}
.card {
    text-align: center;
    box-shadow: 3px 2px 3px  rgb(231, 185, 190);

}
.card-description {
    display: flex;
    flex-wrap: wrap;
}
.card-description div{
    margin: 10px 0px;
}
.card-title h3 {
    font-size: 20px;
    font-weight: 400;
    padding: 5px 0px;
}
.card-description p {
    font-size: 16px;
    font-weight: 400;
}
.card-price {
    display: flex;
    gap: 100px;
}
.card-price span {
    font-size: 20px;
    font-weight: 700;
}
.card-price button {
    padding: 3px 8px;
    border: solid 1px  rgb(231, 185, 190);
    border-radius: 3px;
    box-shadow: 3px 2px 3px var(--mg-color-text);
}
.footer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.footer div {
    display: flex;
    gap: 30px;
}
.footer a {
    color: black;
    font-size: 10px;
    text-decoration: none;
}